nav {
  display: block;
  visibility: visible;
  background-color: #333;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}
